#about {
  background-image: url('/public/about-us-bg.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
  color: whitesmoke; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

.title h1{
  color: black;
  font-size: 3rem;
  margin-top: 10px;
}

.title h2{
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f0f0f0;
}

p {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto 1rem;
}

.about-section {
  display:flex;
  justify-content: center;
  gap: 8rem;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
}

.about-intro, .about-mission, .about-offer, .about-visit {
  flex: 1; 
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.645);
  border: 3px solid rgba(141, 82, 40, 0.555);
  border-radius: 8px;
  text-align: center;
  margin: 0.4rem;
  min-width: 200px;
  width: 75%;
  height: 65vh;
  
}

.about-section h3 {
  font-size: 25px;
  margin-bottom: 1rem;
  color:rgba(141, 82, 40, 0.555);
  font-weight: bold;
  text-transform: uppercase;
}
.about-section p{
  font-size: 23px;
  color: rgb(99, 97, 94);
}


.about-offer ul {
  list-style-type: none; 
  padding-left: 0;
}

.about-offer li {
  margin-bottom: 1.5rem;
}

.about-offer li::before {
  content: "☕";
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: #f0c27b; 
}

.about-offer p{
  margin: 0;
}

strong {
  color:  rgb(99, 97, 94);
  font-weight: bold;
  font-size: 25px;
}
