/* body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #333;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 24px;
}

#cafe {
  color: #FF6347; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px;
}

.navbar-buttons {
  display: flex;
} */

/* .navbar-buttons .nav-link {
  text-decoration: none; 
  margin: 0 10px; 
} */
/* 
.navbar-buttons button {
  background-color: #FF6347; 
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
} */

/* .navbar-buttons button:hover {
  background-color: #FF4500; 
} */

/* .home {
  background-image: url('/public/home-background.jpg'); 
  background-size: cover;                     
  background-position: center;                 
  color: white;                             
  height: 100vh;                              
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

/* .home h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.home p {
  font-size: 1.5rem;
} 

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  margin-top: auto;
}  */
