     
    body {
       padding: 0;
       margin: 0;
       height: 100%;
       width: 100%;
       font-family: arial;
       background-color: bisque;
    }
  
    .navbar {
      background-color: rgba(141, 82, 40, 0.555);
      padding: 3px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #logo{
      font-size: 25px;
      font-weight: bold;
      margin-left: 20px;
      font-family: 'Times New Roman', Times, serif;
    }
    span#cafe{
      color: whitesmoke;
    }
  
    .navbar-buttons .btn{
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
    }

    .nav-link{
      text-decoration: none; 
      margin: 0 10px; 
    }
  

   .home-btn, .menu-btn, .about-btn, .contact-btn{
     background-color: white;
     color: rgb(92, 92, 92);
     border-radius: 10px;
     border: 10px;
     cursor: pointer;
     padding: 10px 15px;
     font-family:'Lucida Sans';
     margin-left: 2px;
   }
  
   .home-btn:hover, .menu-btn:hover, .about-btn:hover, .contact-btn:hover{
    background-color: rgba(141, 82, 40, 0.555);
     color: white;
   }
  
  div {
      padding: 10px;
      text-align: center;
  }
  
  h1, h2, h3 {
      margin-bottom: 10px;
  }

  img{
    width: 185px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .menu-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  
  .menu-item {
      background-color: aliceblue;
      border-radius: 10px;
      border: 2px solid rgba(141, 82, 40, 0.555);
      margin: 20px;
      width: calc(33.33% - 10px);
  }
  
  footer {
      background-color: #333;
      color: #fff;
      padding: 1em;
      text-align: center;
      clear: both;
  } 
  a{
    text-decoration: none;
    color: black;
  }
  a:hover{
    text-decoration: underline;
    border-radius: 10px;
    color: blue;
  }
  .btn{
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .btn:hover{
    background-color: bisque;
    color: #333;
    border: 1px solid #333;
    margin-bottom: 8px;
  }
  #home h1{
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  #home p{
    font-size: 24px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #menu h2{
    text-decoration: underline;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

